
.shepherd-button {
    background: var(--color-four);
    font-size: 0.7rem;
    text-transform: uppercase;
    float: right;
    
}
.shepherd-button:active{
    background-color: var(--color-four);
}

body.shepherd-active::after{
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.3;
    position: fixed;
    width: 100%;
    height: 100%;
    
    
}
.shepherd-target.shepherd-enabled{
    z-index: 1;
    position: relative;
}

.shepherd-title{
    font-weight: 900;
}

body.shepherd-active::after{
    z-index: 2;
}

.shepherd-button-secondary:active{
    background: var(--color-three);
}