 :root{
    --color-one: white;
    --color-two: #FAFBFB;
    --color-three: #c7cbd3;
    --color-four: #5e84f5;
    --color-five: #3C6BF7;
    --color-six: rgb(0,0,0,0.05);
}
*{
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color:var(--color-two);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0%;
    max-width: 100%;
}
.firstContainer{
    background-color: var(--color-one);
    padding: 15px;
    width: 100%;
    z-index: 1;
}
.container{
    background-color: var(--color-one);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}
label{
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0px;
}
p{
    line-height: 0.4rem;
    margin-bottom: 0.5rem;
}
input{
    background-color: rgba(221, 228, 236, 0.301);
    border: 1px solid rgba(221, 228, 236, 0.8);
    border-radius: 2px;
    line-height: 1.2rem;
    padding: 0.5rem;
    font-size: 1rem;
}
input:focus{
    outline: none;
    border-color: var(--color-five);
} 
input::-moz-list-number{
    stroke-dashoffset: 0%;
}
input.element{
    font-size: 0.8rem;
}
input:read-only{
    font-size: 0.8rem;
} 
.btn{
    height: 2rem;
    margin: 0.4rem auto;
    line-height: 1rem;
    margin: 0%;
    border: 0px;
    border-radius: 2px;
    background-color: var(--color-three);
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#calculate{
    background-color: var(--color-five);
}
hr{
    width: 100%;
}
.formToAddElement{
    display: flex;
    place-content: left;
    width: 100%;
    height: 1.35rem;
}
.elementText{
    width: 100%;
    font-size: 0.8rem;
}
.elementAmount{
    width: 4rem;
}
.elementInterest {
    width: 2rem;
}
.elementButton,.elementButtonSubstract{
    height: 100%;
    margin: auto;
    line-height: 1rem;
    margin: 0%;
    border: 0px;
    font-size: 1rem;
    background-color: var(--color-three);
}

#secondContainer{
    /* position: absolute; */
    z-index: 0; 
    width: 100vw;
}

    
@media (min-width: 426px){
    
    body{
    }
    .firstContainer{
        border-radius: 7.5px;
        padding: 15px;
        width: 21.5rem;
        box-shadow: 0 5px 15px #888;
    }
    .container{
        display: flex;
        flex-direction: column;  
    }
    #secondContainer{
        border-radius: 8px;
        box-shadow: 0 5px 15px #888;
        
        width: 21.5rem;
    }

    p{
        line-height: 0.4rem;
        margin-bottom: 0.5rem;
    }
    input{
        line-height: 1.5rem;
    }
    button{
        height: 2rem;
        margin: 0.4rem auto;
        line-height: 1rem;
        margin: 0%;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    hr{
        width: 100%;
        
    }

    .formToAddElement{
        display: flex;
        place-content: left;

        height: 1.35rem;
    }

} 

@media (min-width: 767px){
    body{
        height: 97vh;
        flex-direction: row; 
    }
}



@keyframes greenAnswer
{
    0%{
        background-color: transparent;
    }
    50%{
        background-color: rgb(65, 202, 127);
    }
    100%{
        background-color: transparent;
    }
}
#respuesta{
    padding-bottom: 0.5rem;
}